.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;     
}

.box {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 80px;
  background: #FFC0CB;
  border: 3px solid black;
  
}